
@import url('PressStart2P.ttf');

body{
  font-family: 'Press Start 2P', cursive;
  background-color:darkgray;
}

nav{
  font-size: 0.57em;
  margin-bottom: 5%; 
}

#log{
  text-align: center;
  font-size: 1.2em;
  
}
.op{
  vertical-align: middle;
  margin: 1%;
  font-family: 'Press Start 2P', cursive;
}
#puntos{
  color: azure;
}